* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	color: #222;
	font-family: monospace;
	background-color: #1E1E1E;
}

.container {
	height: 100%;
	padding: 50px;
	margin: 0 auto;
	max-width: 1260px;
	background-color: #FF0;
}

h1 {
	margin-bottom: 20px;
	text-transform: lowercase;
}

p {
	font-size: 22px;
	text-transform: lowercase;
}