/* Pallete 
Red - #ff001e
Pale Blue - #5C8BB1
Dark Blue - #152B3A
*/

/* Roboto Font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Pacific Font Icons */
@font-face {
    font-family: 'Pacific';
    src: url("../font/pacific-icons.eot") format("embedded-opentype"), url("../font/pacific-icons.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

.group:after {
	content: "";
	clear: both;
	display: table;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: monospace;
}

body {
	background-color: #1E1E1E;
}

.main-header-wrapper {
	padding: 0 30px;
}

.main-header {
	margin: 0 auto;
	max-width: 1260px;
	margin-bottom: 40px;
	padding: 54px 0 25px;
	border-bottom: solid 1px #5C8BB1;
}

.main-header .search-form {
	float: left;
	width: 220px;
	height: 147px;
	display: table;
}

.main-header .search-form form {
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

.main-header .search-form form:before {
    font-family: 'Pacific';
    font-size: 27px;
    -webkit-font-smoothing: antialiased;
    content: '\E001';
    position: absolute;
    left: 11px;
    top: 55px;
    color: #5C8BB1;
}

.main-header .search-form form .search-input {
	height: 35px;
	width: 220px;
	color: #5C8BB1;
	font-size: 14px;
	font-weight: bold;
	padding: 0 6px 0 34px;
	background-color: #eee;
}

input.search-input:focus {
    outline: none !important;
    box-shadow: 0 0 10px #aeaeae;
}

.main-header .branding {
	float: left;
	height: 147px;
	display: block;
	text-align: center;
	width: calc(100% - 440px);
}

.main-header .branding .site-title .logo {
	margin: 0 auto;
	max-height: 127px;
}

.main-header .shopping-cart-container {
	float: left;
	width: 220px;
	height: 147px;
	display: table;
	text-align: right;
}

.main-header .shopping-cart-container .shopping-cart {
	display: table-cell;
	vertical-align: middle;
}

.main-header .shopping-cart-container .shopping-cart #currencies {
	height: 35px;
	width: 220px;
	padding: 0 6px;
	color: #5C8BB1;
	font-size: 14px;
	font-weight: bold;
	background-color: #eee;
}

.main-header .shopping-cart-container .shopping-cart #currencies:focus {
    box-shadow: 0 0 10px #aeaeae;
}